.navigation {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid black;
}
.navigationLink {
  color: black;
  font-weight: 600;
}
.navigationLink:nth-child(2) {
  margin-right: 20px;
}
.navigationLink:first-child {
  margin-right: auto;
}
.active {
  color: blue;
}
