.contact {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  padding: 10px;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
}
.contactColumn {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.contactText {
  display: flex;
  align-items: center;
}
.contactText:not(:last-child) {
  margin-bottom: 5px;
}
.contactIcon {
  margin-right: 10px;
}
.contactIconEdit {
  height: 25px;
  width: 25px;
}
.contactBtn {
  height: 25px;
  width: 60px;
  border: 1px solid black;
  border-radius: 2px;
}
.contactBtn:active {
  background-color: rgb(184, 183, 183);
}
.contactBtnEdit {
  width: 30px;
}
.inputActive {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
.input:disabled {
  border: none;
}
.contactFormErrorSpan {
  color: red;
}
