.contactForm {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
}
.contactFormRow {
  display: flex;
  flex-direction: column;
}
.contactFormLabel {
  font-size: 20px;
}
.contactFormInput {
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 3px;
}
.contactFormBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: fit-content;
  padding: 0px 15px;
  background-color: rgb(239, 239, 239);
  border: 1px solid black;
  border-radius: 3px;
  color: black;
}
.contactFormErrorSpan {
  font-size: 18px;
  margin-top: 10px;
  color: red;
}
